.sig-head {
    height: 120px;
    text-align: center
}
.sig-img {
    display: inline-block;
    width: 384px;
    height: 46px;
    background: url('../../imgs/wkx/signlogo.png') center center no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 50px;
}
#main {
    min-height: auto;
    padding: 20px 0;
}
.rl-modal {
    position: fixed;
    background: #fff;
    z-index: 100000;
    width: 384px;
    padding-top: 10px;
    padding-bottom: 30px;
    left: 50%;
    top: 50%;
    margin: -192px 0 0 -192px;
    box-shadow: 0 12px 24px 0 rgba(28,31,33,.1);
    border-radius: 12px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
}
.rl-modal {
    position: relative;
    margin: 0 auto;
    left: 0;
    top: 0;
    z-index: 0;
}
.rl-modal-header {
    position: relative;
    padding: 0 20px 25px;
}
.rl-modal-body {
    padding: 0 32px;
}
.rl-model-footer {
    padding: 20px 30px 4px;
}
.rl-modal-header h1 {
    font-size: 16px;
    line-height: 49px;
    font-weight: 700;
    height: 49px;
    color: #787d82;
}
.active-title, .rl-modal-header span:hover {
    color: #F20D0D;
}
.rl-modal-header h1 span {
    float: left;
    width: 80px;
    text-align: center;
    height: 49px;
    line-height: 49px;
    cursor: pointer;
}
.rl-modal-header .active-title:after, .rl-modal-header span:hover:after {
    content: " ";
    width: 16px;
    height: 4px;
    line-height: 4px;
    background: #F20D0D;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
}
.ipt, select.ipt {
    height: 20px;
    line-height: 20px;
}
.ipt {
    color: #1c1f21;
    background-color: #fff;
    border: 1px solid #98a1a6;
    padding: 9px;
    font-size: 14px;
    border-radius: 0;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.ipt-email {
    background-position: 0 0;
}
.rl-modal .ipt {
    width: 100%;
    height: 48px;
    line-height: 20px;
    box-sizing: border-box;
    padding: 14px;
    box-shadow: 2px 0 5px 0 #fff;
    background: rgba(28,31,33,.06);
    border-radius: 8px;
    border: 0;
}
.rlf-tip-wrap {
    font-size: 12px;
    height: 20px;
    clear: both;
}
.rl-modal .proclaim-btn {
    font-size: 23px;
    color: #b5b9bc;
    position: absolute;
    top: 12px;
    right: 14px;
}
.ipt-pwd {
    background-position: 0 -48px;
}
.errorHint {
    height: 25px;
    line-height: 20px;
    font-size: 12px;
    color: #f01414;
}
.rlf-tip-wrap {
    font-size: 12px;
    height: 20px;
    clear: both;
}
.rl-modal .form-control, .rl-modal .proclaim-loc {
    position: relative;
}
.rl-modal .ipt-verify {
    background-image: none;
}
.verify-img-wrap {
    position: absolute;
    right: 2px;
    top: 8px;
    width: 84px;
    height: 32px;
}
.icon-refresh {
    position: absolute;
    right: 90px;
    top: 12px;
    color: #b5b9bc;
    font-size: 24px;
    display: inline-block;
    -webkit-transition: .4s linear;
    transition: .4s ease-in;
}
.proclaim-btn {
    font-size: 23px;
    color: #b5b9bc;
    position: absolute;
    top: 12px;
    right: 14px;
}
.proclaim-btn:hover {
    color: #717a84;
}
.rlf-appendix {
    line-height: 1em;
}
.rl-model-signup .rl-model-footer span, .rlf-appendix .rlf-autoin, .rlf-appendix .rlf-forget {
    color: #9199A1;
}
.auto-cbx {
    margin-right: 10px;
    vertical-align: -1px;
}
.rlf-line {
    margin: 0 16px;
    background: rgba(28,31,33,.1);
    width: 1px;
    height: 14px;
}
label{
    font-weight: normal;
    margin-bottom: 0;
}
.rlf-forget:hover{
    color: #545c63;
}
.rlf-tip-globle {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
}
.moco-btn {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    text-decoration: none;
    box-sizing: border-box;
    background-image: none;
    border-radius: 0;
    -webkit-appearance: none;
    white-space: nowrap;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    -weibkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    color: #545c63;
    background-color: transparent;
    border-color: #9199a1;
    opacity: 1;
    padding: 7px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 18px;
}
.moco-btn-red {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    -weibkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    color: #fff;
    background-color: #f20d0d;
    border-color: #f20d0d;
    opacity: 1;
}
.moco-btn-lg {
    padding: 11px 32px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 24px;
}
.btn-full {
    width: 100%;
    box-sizing: border-box;
}
.rlf-other {
    margin-left: 30px;
    margin-right: 24px;
    padding-right: 24px;
    display: inline-block;
    font-size: 14px;
    color: #F20D0D;
    text-align: left;
    line-height: 24px;
    border-right: 1px solid #1A1C1F21;
    cursor: pointer;
}
.pop-login-sns a {
    font-size: 14px;
    margin-right: 21px;
    height: 20px;
    color: #c8cdd2;
    transition: color .2s;
}
.pop-login-sns a, .rl-modal .verify-extra {
    line-height: 20px;
}
.pop-login-sns i {
    font-size: 24px;
    vertical-align: -3px;
    transition: color .2s;
    color: #b5b9bc;
}
.pop-login-sns .pop-sns-weibo:hover i {
    color: #f01400;
}
.pop-login-sns .pop-sns-weixin:hover i {
    color: #00b33b;
}
.pop-login-sns .pop-sns-qq:hover i {
    color: #08c;
}
.rlf-areacode {
    position: absolute;
    cursor: pointer;
    left: 16px;
    top: 12px;
    font-size: 16px;
    color: #1C1F21;
    text-align: left;
    line-height: 24px;
}
.rl-modal .icon-refresh {
    position: absolute;
    right: 90px;
    top: 12px;
    color: #b5b9bc;
    font-size: 24px;
    display: inline-block;
    -webkit-transition: .4s linear;
    transition: .4s ease-in;
}
.ipt-phone {
    padding-left: 77px!important;
}
#ipt-agreement {
    color: #37F;
}
#ipt-agreement:hover {
    color: #04c;
}
.rl-model-footer span, .rlf-appendix .rlf-autoin, .rlf-appendix .rlf-forget {
    color: #9199A1;
}
.moco-btn-red:hover, .moco-btn-red:focus, .moco-btn-red.focus, .moco-btn-red:active, .moco-btn-red.active {
    color: #fff;
    border-color: #c20a0a;
    background: #c20a0a;
    opacity: 1;
}
