<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.userMapper">

	<!-- 单个用户信息 -->
	<select id="getUser" parameterType="pd" resultType="pd">
		select * from
		user
		where email=#{email} and password = #{password}
	</select>
	<!-- 单个用户信息 -->
	<select id="selectUser" parameterType="pd" resultType="pd">
		select *
		from
		user
		where id=#{id}
	</select>

	<!-- 注册新用户 -->
	<insert id="insertUser">
		insert into user (email,password)
		values (
		#{email},
		#{password}
		)
	</insert>
	<!-- 注册新用户 -->
	<update id="editUser">
		update user set username = #{username} where id
		=#{id}

	</update>


</mapper>