.infowraper{
	width: 936px;
	height: 350px;
	margin: 0 auto;
	border-top: 1px solid gray;
}
.user_info_details{
	width: 896px;
	margin:25px 0  0 40px;
	height: 350px;
}
.user_info_detail{
	width: 896px;
	height: 60px;
	clear:both;
	margin-bottom: 12px;
}
.user_info_detail label{
    width: 120px;
    line-height: 20px;
    padding: 20px 0;
    text-align: center;
    background-color: #f3f5f7;
    color: #07111b;
    font-weight: 700;
}
.user_info_detail div{
	width: 708px;
    margin-left: 8px;
    line-height: 20px;
    padding: 20px 0 20px 22px;
    border-bottom: 1px solid #d9dde1;
}